
* {
  background: linear-gradient(#FFFFE7, 	#A67F59);
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  margin:0;
  padding:0;

}

.container{

  display: block;
    margin:100px;
  /* border: 1px solid black; */
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  height:auto;
  weight:100%;
  /* height: 100vh;
  width: 100vw; */
}

.column-one, .column-two, .column-three {
  /* border: 1px solid green; */
  display: flex;
  flex:1;
  flex-direction: column;
  font-family: 'Supermercado One', cursive;



}
  .one-row-one {
  border: 5px solid white;
  /* width:auto; */
  height: 35%;
  margin-bottom: 20px;
  margin-right: 20px;
  color: #3C3731;
  background:#F8F3F0 no-repeat fixed;

}

.one-row-one h1, .one-row-one h3, .one-row-one p{

  color: #3C3731;
  background:#F8F3F0 no-repeat fixed;
  display: block;
  font-size: 1em;
  margin-bottom: 2em;
  margin-left: 5em;
  margin-right: 1em;
  font-weight: bold;
}

.one-row-one img{
  display: block;
  width: 30%;
  height: 40%;

}

  .one-row-two {
    border: 5px solid white;
    /* width:auto; */
    height: 65%;
    margin-right: 20px;
    color: #3C3731;
    background:#F8F3F0 no-repeat fixed;
}

.one-row-two h1, img, p{
  color: #3C3731;
  background:#F8F3F0 no-repeat fixed;


}

  .two-row-one {

  border: 5px solid white;
  width:auto;
  height: 30%;
  margin-bottom: 50px;
  margin-right: 20px;
}


  .two-row-two {
    width:auto;
    height: 70%;
    margin-right: 20px;
    color: #3C3731;
    background:#F8F3F0 no-repeat fixed;
}

.two-row-two h4 {

  display: block;
  font-size: .75em;
  margin-top: 3em;
  margin-bottom: .50em;
  margin-left: 1em;
  margin-right: 3em;
  font-weight: bold;
  color: #3C3731;
  background:#F8F3F0 no-repeat fixed;
}


img {
    display: block;
    width: 100%;
    height: 45%;
}


  .three-row-one {
  width:auto;
  height: 70%;
  margin-bottom: 20px;
  color: #F8F3F0;
  background:#3C3731 no-repeat fixed;

}


.three-row-one h1 {
  display: block;
  font-size: 5em;
  margin-top: 1em;
  margin-bottom: 0.67em;
  margin-left: 2em;
  margin-right: 0;
  font-weight: bold;
  color: #F8F3F0;
  background:#3C3731 no-repeat fixed;

}


  .three-row-two {
    width:auto;
    height: 30%;
    color: #3C3731;
    background:#F8F3F0 no-repeat fixed;
}


.three-row-two h1 {
  display: block;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: .50em;
  margin-left: 3em;
  margin-right: 3em;
  font-weight: bold;
  color: #3C3731;
  background:#F8F3F0 no-repeat fixed;

}


.three-row-two h3 {
  display: block;
  font-size: 1em;
  margin-top: .50em;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 3em;
  font-weight: bold;
  color: #3C3731;
  background:#F8F3F0 no-repeat fixed;


}

/*small phone, iPhone 5 and up */

/* @media only screen and (min-width: 320px){ */
@media only screen and (max-width: 768px){
  .container{
    display: block;
    margin:.50px;
    width: 100%;
    /* height: 100vh; */
    /* width: 100vw; */
    height:auto;

  }
  .column-one{
    /* border: 1px solid green; */
    display: flex;

  }
.one-row-one{
  height: 35%;
  margin-bottom: 20px;

}


  .maximus_face{
    width: 30%;
  }

  .column-two{
    /* border: 1px solid red; */
    display: flex;
    flex:1;
    flex-direction: column;
    font-family: 'Supermercado One', cursive;
    /* height: 100vh;
    width: 100vw; */
    }
  .column-three{
    /* border: 1px solid purple; */
    display: flex;
    flex:1;
    flex-direction: column;
    font-family: 'Supermercado One', cursive;
    height: 100vh;
    width: 100vw;
    }
  }

  @media only screen
and (min-device-width : 768px)
{

    .container{
      display: flex;
      flex:1;
      margin:50px;
      height: auto;
      width: 90%;
    }
  }

  @media screen
  and (min-device-width: 1200px){


    .container{
      display: flex;
      flex:1;
      margin:50px;
      width: 90%;
      height: auto;
    }
    }
